<form #form="ngForm" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <mat-card-content class="column">
      <mat-form-field>
        <input placeholder="Username"
               matInput
               name="username"
               [(ngModel)]="username"
               type="text"
               autocomplete="username"
               required>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Password"
               matInput
               name="password"
               type="password"
               [(ngModel)]="password"
               autocomplete="password"
               minlength="6"
               required>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <a mat-raised-button routerLink="../register">Register</a>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
