:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

mat-card, form {
  width: 100%;
  max-width: 400px;
}
