.container {
  overflow: auto;
  display: flex;
  justify-content: center;
}

td.mat-cell:last-of-type {
  border-left: 1px solid #e0e0e0;
  padding-right: 0;
}

.disabled {
  color: rgba(0, 0, 0, 0.28);
}
