:host {
  display: flex;
  justify-content: center;
}

mat-card {
  flex: 1;
  min-width: 0;
  max-width: 600px;
  padding-top: 0;
  padding-bottom: 0;
}

.mat-card .mat-divider {
  position: unset;
}
