<div [@list]="isLoading$ | async" class="list">
  <app-product-filter></app-product-filter>
  <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scroll-container"
                               *ngIf="(products$ | async | productFilter:(filter$ | async))?.length > 0">
    <div class="list-item"
         *cdkVirtualFor="let p of products$ | async | productFilter:(filter$ | async); let last = last">
      <app-product-list-item [product]="p"></app-product-list-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </div>
  </cdk-virtual-scroll-viewport>

  <div class="user-message"
    *ngIf="(products$ | async)?.length === 0">
    <img class="illustration" src="assets/no_products.svg">
    <p>You don't have any products, yet.</p>
  </div>
  <div class="user-message"
    *ngIf="(products$ | async)?.length > 0 && (products$ | async | productFilter:(filter$ | async))?.length === 0">
    <img class="illustration" src="assets/empty_filter_result.svg">
    <p>No results. Change your filters.</p>
  </div>
</div>

<app-fab-button
  icon="add_to_cart"
  routerLink="new"
  [shouldShake]="(products$ | async)?.length === 0"
></app-fab-button>
