<mat-card [@list]="isLoading$ | async">
  <div class="list-item" *ngFor="let p of products$ | async; let last = last">
    <app-product-list-item [product]="p"></app-product-list-item>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>

  <div *ngIf="(products$ | async)?.length === 0">
    <p>You don't have any products, yet.</p>
    <p>Add one to your list, receive notifications, when its price or availability changes and make a great bargain.</p>
  </div>
</mat-card>

<app-fab-button
  icon="add_to_cart"
  routerLink="new"
  [shouldShake]="(products$ | async)?.length === 0"
></app-fab-button>
