<div class="centered">
  <button mat-icon-button (click)="isOpen = !isOpen" [ngClass]="(isActive$ | async) ? 'isActive' : ''">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<div *ngIf="isOpen">
  <div class="row">
    <mat-slide-toggle [checked]="(filterOptions$ | async)?.showOnlyAvailable"
                      (change)="updateFilterOptions('showOnlyAvailable', $event.checked)">
      Only Available
    </mat-slide-toggle>
  </div>

  <div class="row">
    <mat-slide-toggle [checked]="(filterOptions$ | async)?.showOnlyWithUnreadUpdate"
                      (change)="updateFilterOptions('showOnlyWithUnreadUpdate', $event.checked)">
      Only with unread Update
    </mat-slide-toggle>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-select placeholder="Stores" multiple
                  [value]="selectedStores$ | async"
                  (selectionChange)="updateSelectedStores($event.value)">
        <mat-option *ngFor="let store of availableStores$ | async" [value]="store">{{store}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button
            (click)="updateSelectedStores([])"
            [disabled]="(selectedStores$ | async)?.length === 0">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="row bottom-space">
    <mat-form-field>
      <input #nameInput matInput name="name"
             placeholder="Product name"
             type="search"
             [value]="name$ | async"
             (keyup)="updateSelectedName(nameInput.value)">
    </mat-form-field>
    <button mat-icon-button
            (click)="updateSelectedName('')"
            [disabled]="!nameInput.value">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
</div>
