<mat-card>
  <mat-horizontal-stepper linear="true" #stepper="matHorizontalStepper">
    <mat-step editable="false" [stepControl]="urlFormGroup">
      <ng-template matStepLabel>URL</ng-template>
      <form [formGroup]="urlFormGroup">
        <mat-card-content>
          <mat-spinner *ngIf="isSaving$ | async"></mat-spinner>
          <mat-form-field *ngIf="!(isSaving$ | async)">
            <input matInput
                   formControlName="url" type="url" autocomplete="url"
                   required
                   placeholder="Product URL">
          </mat-form-field>
        </mat-card-content>
      </form>
    </mat-step>
    <mat-step editable="false" [stepControl]="detailsFormGroup">
      <ng-template matStepLabel>Details</ng-template>
      <form [formGroup]="detailsFormGroup">
        <mat-card-content>
          <mat-spinner *ngIf="isSaving$ | async"></mat-spinner>
          <mat-form-field *ngIf="!(isSaving$ | async)">
            <input matInput formControlName="name" placeholder="Name" required>
          </mat-form-field>
          <mat-form-field *ngIf="!(isSaving$ | async)">
            <mat-select #sizeSelect formControlName="size" placeholder="Size" required>
              <mat-select-trigger>{{detailsFormGroup.get('size').value?.name}}</mat-select-trigger>
              <mat-option *ngFor="let s of sizes" [value]="s">
                <mat-icon>{{s.isAvailable ? 'shopping_cart' : 'remove_shopping_cart'}}</mat-icon>
                {{s.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-card-actions align="end">
    <button mat-raised-button type="button"
            *ngIf="stepper.selectedIndex === 0"
            [disabled]="!urlFormGroup.get('url').valid"
            (click)="fetchProduct(stepper)">
      Next
    </button>
    <button mat-raised-button type="button"
            *ngIf="stepper.selectedIndex === 1"
            [disabled]="!detailsFormGroup.valid"
            (click)="updateProduct()">
      Done
    </button>
  </mat-card-actions>
</mat-card>
