<mat-card>
  <mat-card-title [ngClass]="{'not-active': !(product$ | async)?.isActive}">
    {{(product$ | async)?.name}} ({{(product$ | async)?.price | currency:'EUR'}})
  </mat-card-title>
  <mat-card-subtitle>
    <span *ngIf="(product$ | async)?.sizeName">Size: {{(product$ | async)?.sizeName}} |</span>
    {{(product$ | async)?.store}} |
    {{(product$ | async)?.createdAt | date}}
  </mat-card-subtitle>

  <mat-card-content>
    <app-product-update-table [updates$]="updates$">
    </app-product-update-table>
  </mat-card-content>

  <mat-card-actions align="end">
    <a mat-button [attr.href]="(product$ | async)?.url" target="_blank">
      <mat-icon>open_in_browser</mat-icon>
      Open
    </a>
    <ng-container *ngIf="(product$ | async)?._id; let id">
    <button mat-button (click)="deleteProduct(id)">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
    </ng-container>
  </mat-card-actions>
</mat-card>
