<div class="latest-state">
  <mat-icon class="icon" [ngClass]="{isUnread: product.hasUnreadUpdate}">
    {{product?.isAvailable ? 'shopping_cart' : 'remove_shopping_cart'}}
  </mat-icon>
  <mat-icon class="low-in-stock" [ngClass]="{isUnread: product.hasUnreadUpdate}" *ngIf="product.isLowInStock">
    alarm
  </mat-icon>
  <span class="price">{{product?.price | currency:'EUR'}}</span>
</div>
<span class="name" [ngClass]="{crossed: !product.isActive}">
  <mat-icon *ngIf="product.isFavorite">star</mat-icon>
  <span class="ellipsis">{{product?.name}}</span>
</span>
<div class="additional">
  <span class="store">{{product?.store}}</span>
  |
  <span class="date">{{product?.updatedAt | date}}</span>
</div>
<span class="action">
  <a mat-icon-button (click)="$event.stopPropagation();" [attr.href]="product?.url" target="_blank">
    <mat-icon>open_in_browser</mat-icon>
  </a>
</span>
<span *ngIf="product?.sizeName">Size: {{product?.sizeName}}</span>
