:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  display: block;
  margin: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  width: 100%;
  line-height: 0.1em;
}
h2 span {
  background:#fff;
  padding:0 10px;
  color: rgba(0, 0, 0, 0.36);
}
